apiVersion: apps/v1
kind: Deployment
metadata:
  name: adguard-sync
  namespace: apps
  labels:
    app.kubernetes.io/name: adguard-sync
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: adguard-sync
  template:
    metadata:
      labels:
        app.kubernetes.io/name: adguard-sync
    spec:
      serviceAccountName: adguard-sync
      automountServiceAccountToken: true
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        seccompProfile:
          type: RuntimeDefault
      dnsPolicy: None
      dnsConfig:
        nameservers:
        - 1.1.1.1
        - 8.8.8.8
      containers:
      - name: adguard-sync
        image: ghcr.io/bakito/adguardhome-sync:latest
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          runAsNonRoot: true
        args:
        - "run"
        - "--config"
        - "/config/config.yaml"
        imagePullPolicy: Always
        resources:
          requests:
            cpu: 150m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 512Mi
        ports:
        - name: http
          containerPort: 8080
          protocol: TCP
        readinessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 1
          periodSeconds: 10
          failureThreshold: 3
        livenessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 20
          failureThreshold: 3
        volumeMounts:
        - name: config
          mountPath: /config/config.yaml
          subPath: config.yaml
      volumes:
      - name: config
        configMap:
          name: adguard-sync-config
